body{
  display: flex;
  background: #14171a;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #d1d1d1;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
caption{
	font-size: 26px;
}
table,tr,td{
	border: 2px solid #d1d1d1;
	font-size: 22px;
	padding: 5px;
	border-collapse: collapse;
	width: 200px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.lesson{
	width: 30px;
	text-align: center;
}

@media only screen and (max-width: 1000px){
body{
	justify-content: flex-start;
}
caption{
	font-size: 46px;
}
table,tr,td{
	border: 4px solid #d1d1d1;
	font-size: 42px;
	padding: 7px;
	border-collapse: collapse;
	width: 400px;
}
}