* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 100%;
}

body {
    background-color: #221126;
    height: 100vh;
    color: #f9fbf3;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #0c1013;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  transform: translateY(0%);
}

.container_active {
    transform: translateY(-100%);
}

.day-book {
  width: 100%;
  height: 100%;
  background-color: #221126;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.days {
  width: 100%;
  height: 12rem;
  background-color: #341a3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
}

.days h1 {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}
.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}

.tables {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
}

table, tr, td {
    font-size: 70px;
    border-collapse: collapse;
}

.lesson {
    width: 40px;
    text-align: center;
}



.menu-time{
  position: fixed;
  left: 0;top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: rgba(255,255,255, .1); */
  transition: 0.4s;
  transform: translateY(-100%);
}

.menu-time_active {
  transform: translateY(0%);
}

@keyframes animate {
  0%
  {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1), 0 0 0 0 rgba(255, 255, 255, .0);;
  }
  40%
  {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, .0), 0 0 0 0 rgba(255, 255, 255, .0);;
  }
  80%
  {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, .0), 0 0 0 5px rgba(255, 255, 255, .0);;
  }
  100%
  {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .0), 0 0 0 5px rgba(255, 255, 255, .0);;
  }    
}

.menu-btn-on {
  background: rgba(182, 70, 240, .5);
  color: #f9fbf3;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding-top: 25px;
  animation: animate 2s linear infinite;
}

.menu-btn-off {
  background: rgba(182, 70, 240, .5);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collumn-block>.inner{
    margin: 5px;
    justify-content: center;
    height: 79vh;
}

.collumn-block--info{
  margin: auto;
  background: #341a3d;
  display: inline-block;
  border-radius: 25px 0px 25px 0px;
}

.collumn-block--info>.inner{
  margin: 10px;
  text-align: left;
  height: 50vh;
}

.collumn-block--info>.inner>h2{
  text-align: center;
}

.far, .fas{
    font-size: 100px;
}
