* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
    background: url('back-groung.png'), #221126;
    height: 95vh;
    color: #f9fbf3;
}

ol {
    font-size: 70px;
    border-collapse: collapse;
    background: #341a3d;
    border-radius: 25px 0px 25px 0px;
    list-style-position: inside; 
    width: 65%;  
}
li {
    margin: 20px;
    position: relative;
    overflow: hidden;
    width: 97%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(0%);
}

.container_active {
    transform: translateY(-100%);
}

.day-book {
  width: 100%;
  height: 100%;
}

.days {
  width: 100%;
  height: 12rem;
  background-color: #341a3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
}

.days h1 {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.tables {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
}

.menu-time{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  transform: translateY(-100%);
}

.menu-time_active {
  transform: translateY(0%);
}

.collumn-block--info {
    width: 100%;
    height: 100%;
}

.menu-time-header {
  background-color: #341a3d;
  width: 100%;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.menu-time-header h1{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.menu-btn-on {
  background: #b646f0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 40px;
  right: 30px;
  text-align: center;
  cursor: pointer;
  padding-top: 25px;
  animation: animate 2s linear infinite;
}

.menu-btn-off {
  background: #b646f0;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%);
}

.far, .fas{
    font-size: 100px;
}

.lesson::before {
    background-color: #b646f0;
    content: "";
    position: absolute;
    width: 125px;
    height: 125px;
    right: -40px;
    bottom: -20px;
    transform: rotate(45deg);
}

@keyframes animate {
  0%{box-shadow: 0 0 0 0 rgba(255, 255, 255, .2), 0 0 0 0 rgba(255, 255, 255, .0);;}
  40%{box-shadow: 0 0 0 20px rgba(255, 255, 255, .0), 0 0 0 0 rgba(255, 255, 255, .0);;}
  80%{box-shadow: 0 0 0 20px rgba(255, 255, 255, .0), 0 0 0 13px rgba(255, 255, 255, .0);;}
  100%{box-shadow: 0 0 0 0 rgba(255, 255, 255, .0), 0 0 0 13px rgba(255, 255, 255, .0);;}    
}